*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

body {
  background-color: #121213;
  color: white;
}

nav {
  border-bottom: 1px solid rgba(220, 220, 220, 0.304);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-bottom: 10px;
}

.leftSection {
  display: flex;
  font-weight: 900;
}

button {
  height: 20px;
  width: 25px;
  border: none;
  cursor: pointer;
  background-color: #121213;
  color: white;
  margin: 0px 2px;
}

.hamburgerIcon {
  width: 30px;
  font-size: 1.8rem;
}

header {
  font-size: 1.8rem;
  margin-left: 5px;
}

.rightSection {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}

.subscribe {
  height: 40px;
  width: 100%;
  min-width: 125px;
  max-width: 200px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.342);
}

.grid {
  /* border: 1px solid gainsboro; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cell {
  height: 50px;
  width: 50px;
  border: 2px solid rgba(220, 220, 220, 0.326);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 2px;
}

@keyframes inputShake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.inputShake {
  border: 2px solid rgba(220, 220, 220, 0.326);
  animation: inputShake 0.5s ease;
}

@keyframes blockFlip {
  0%,
  100% {
    transform: scaleY(1);
  }
  25%,
  75% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(0);
  }
}

.yellow {
  animation: blockFlip 0.5s ease;
  background-color: rgb(200, 200, 31);
}

.grey {
  animation: blockFlip 0.3s ease;
  background-color: gray;
}

.green {
  animation: blockFlip 0.5s ease;
  background-color: rgb(17, 205, 17);
}

.row {
  display: flex;
}

.keyboard {
  /* border: 1px solid gainsboro; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.keyboard1,
.keyboard2,
.keyboard3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard2 {
  width: 85%;
}

input {
  width: 50px;
  height: 60px;
  background-color: #414141;
  border: none;
  margin: 3px;
  color: gainsboro;
  border-radius: 5px;
  font-size: 1.2rem;
}

input:hover {
  cursor: pointer;
  transform: scale(1.08);
}

#del,
#enter {
  width: 70px;
}

@media only screen and (min-width: 481px) {
  .modalContent {
    width: 80%;
    max-width: 500px;
    padding: 0px 30px;
  }
  .modalHeader,
  .modalBody,
  .modalFooter {
    width: 100%;
  }
}

@media screen and (min-width: 770px) {
  .leftSection {
    width: 55%;
    justify-content: space-between;
  }
  .rightSection {
    width: 30%;
  }
  button {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    justify-content: end;
  }
  .leftSection {
    width: 57%;
    justify-content: space-around;
  }
  .rightSection {
    width: 35%;
  }
}
